@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{
	ViewData["Title"] = "Dashboard";
}

<style>
	.bnav,
	.bnav:after,
	.bnav:before {
		background: #ffffff;
		border-radius: 1px;
		content: "";
		cursor: pointer;
		display: block;
		height: 3px;
		transition: background 0.1s ease-in-out, color 0.1s ease-in-out;
		width: 24px;
	}

	.bnav {
		position: relative;
	}

		.bnav:before {
			position: absolute;
			top: -7.5px;
			width: 24px;
		}

		.bnav:after {
			bottom: -7.5px;
			position: absolute;
			width: 16px;
		}

	.bnav-right,
	.bnav-right:after,
	.bnav-right:before {
		right: 0;
	}

	#logout_sidebar_button {
		position: absolute;
		display: inline-block;
		bottom: 0;
	}

		#logout_sidebar_button:hover {
			color: red;
		}

	.card {
		width: 300px;
		/*height: 200px;*/
		background-color: #fff;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		border-radius: 5px;
		overflow: hidden;
	}

		.card img {
			width: 100%;
			height: 200px;
			object-fit: cover;
		}

	.card-content {
		padding: 20px;
	}

	.card-title {
		font-family: 'Roboto','sans-serif';
		font-size: 16px;
		font-weight: bold;
		margin-bottom: 10px;
	}

	.card-description {
		font-size: 16px;
		line-height: 1.5;
		margin-bottom: 5px;
	}

	.card-button {
		font-family: 'Roboto','sans-serif';
		display: block;
		width: 100%;
		padding: 10px;
		background-color: #000;
		color: #fff;
		text-align: center;
		text-decoration: none;
		border-radius: 5px;
	}

		.card-button:hover {
			background-color: #615f5f;
			color: #fff;
		}

	.card-btn {
		font-family: 'Roboto','sans-serif';
		background-color: #ffffff00;
		font-size: 24px;
		color: #fff;
		text-decoration: none;
	}

</style>

<body style="background: -webkit-linear-gradient(left, #fff, #000);">
	<div>
		<div id="mySidebar" class="sidebar">
			<a class="closebtn" onclick="closeNav()">×</a>
			<h3 id="stitle" class="text-white text-center">Admin</h3>
			<a asp-controller="Admin" asp-action="Index">Dashboard</a>
			<a asp-controller="Admin" asp-action="GetAllBookingSeats">Seat Booked</a>

			<a id="logout_sidebar_button" class="nav nav-sidebar" href="#">Log Out</a>
		</div>
	</div>

	<h1 class="text-center text-white my-4"> Records</h1>

	<div class="card col-6 col-sm-4 col-md-4 col-lg-4 my-4 mx-auto ">
		<div class="card-content text-center">
			<form method="post">
				<label for="id">Enter Employee number:</label>
				<input type="number" id="Employeenumber" name="Employeenumber" value="@Model" />
				<button asp-controller="Admin" asp-action="Search" type="submit">Search</button>
			</form>
		</div>
	</div>

	<div class="row text-center">
		<div class="card col-md-6 col-sm-6 mx-auto">
			<div class="card">
				<div class="card-content">
					<h2 class="card-title">From Date</h2>
					<label for="date-picker"></label>
					<input type="date" id="date-picker fdate" value="">
					<p class="card-description"></p>
				</div>
			</div>

			<div class="card">
				<div class="card-content">
					<h2 class="card-title">To Date</h2>
					<label for="date-picker"></label>
					<input type="date" id="date-picker tdate" value="">
					<p class="card-description"></p>
				</div>
			</div>
		</div>
	</div>

	<div class="card col-6 col-sm-4 col-md-4 col-lg-4 my-4 mx-auto">
		<div class="card-content">
			<a href="adminseat-booking.html" class="card-button">Add seat for employee</a>
		</div>
	</div>
</body>
